body {
  background-image: url('images/texturav2.jpg');

  background-size: cover ;
  background-attachment: fixed;
  min-height: 80vh;

}
h1{

  font-size: 5em;
  margin-top: 0em;
  margin-bottom: 2em;
  text-align: center;
  color: rgb(255, 255, 255);

  padding: 1.25em;


}

h1{
border-bottom: 3px solid rgb(255, 255, 255);
margin-left: 2.5em;
margin-right: 2.5em



}
p {

  margin-left: 6em;
  margin-right: 6em;
  text-align: justify;
  font-size: 2.5em;
  margin-bottom: 8em;
  color: rgb(255, 255, 255);

}
header{
  text-align: center;
  margin-top: 4em
}
